<style>
    .data-property-container {
        height: 80vh;
        width: 100%;
        background-color: #f5f5f5;
        border: 1px solid #ddd;
        box-sizing: border-box;
    }

    .data-property-summary {
        display: list-item;
        cursor: pointer;
    }

    .search-results {
        margin-top: 10px;
        border: 1px solid #ddd;
        padding: 10px;
        background-color: #fff;
    }
</style>

<details>
    <summary class="data-property-summary">Data Asset</summary>
    <label for="${paragraphId}_match_box">Match Word</label>
    <input type="text" id="${paragraphId}_match_box" placeholder="Match..."/>
    <button id="${paragraphId}_match_button" type="button" class="btn btn-default btn-xs">Match</button>
    <div id="${paragraphId}_data_property_container" class="data-property-container panel panel-default"></div>
    <label for="${paragraphId}_search_box">Semantic Search</label>
    <input type="text" id="${paragraphId}_search_box" placeholder="Search..."/>
    <button id="${paragraphId}_search_button" type="button" class="btn btn-default btn-xs">Search</button>
    <ul id="${paragraphId}_search_results" class="search-results"></ul>
</details>

<script>
    init();

    async function init() {
        await import('https://unpkg.com/@antv/g6@5/dist/g6.min.js');
        const graph = createDataPropertyGraph();

        for (const node of graph.getNodeData()) {
            graph.collapseElement(node.id,false);
        }

        graph.render();

        ## const history = graph.getPluginInstance('history');
        ## document.getElementById('${paragraphId}_data_property_undo').onclick = () => {
        ##     console.log('try undo');
        ##     if (history.canUndo()) {
        ##         console.log('undo');
        ##         history.undo();
        ##         graph.render();
        ##     }
        ## }
        ##
        ## document.getElementById('${paragraphId}_data_property_redo').onclick = () => {
        ##     console.log('try redo');
        ##     if (history.canRedo()) {
        ##         console.log('redo');
        ##         history.redo();
        ##         graph.render();
        ##     }
        ## }

        document.getElementById('${paragraphId}_match_button').onclick = () => {
            console.debug('search');
            const searchText = document.getElementById('${paragraphId}_match_box').value;
            console.debug('searchText:', searchText);
            console.debug('graph:', graph);

            const matchedNodeIds = new Set();
            for (const node of graph.getNodeData()) {
                if (node.data.label.includes(searchText)) {
                    matchedNodeIds.add(node.id);
                }
            }
            console.debug('matchedNodes:', matchedNodeIds);

            const ancientIds = new Set();
            for (const matchedNodeId of matchedNodeIds) {
                for (const ancestor of graph.getAncestorsData(matchedNodeId, 'tree')) {
                    ancientIds.add(ancestor.id);
                }
            }
            console.debug('ancientIds:', ancientIds);

            // const updatedNodes = [];
            // for (const node of graph.getNodeData()) {
            //     if (matchedNodeIds.has(node.id)) {
            //         updatedNodes.push({
            //             id: node.id,
            //             style: {
            //                 stroke: '#0f0',
            //                 lineWidth: 2,
            //             },
            //         });
            //     } else if (ancientIds.has(node.id)) {
            //         updatedNodes.push({
            //             id: node.id,
            //             style: {
            //                 stroke: '#f0f',
            //                 lineWidth: 2,
            //             },
            //         });
            //     } else {
            //         updatedNodes.push({
            //             id: node.id,
            //             style: {
            //                 stroke: '#000',
            //                 lineWidth: 1,
            //             },
            //         });
            //     }
            // }
            // console.debug('updatedNodes:', updatedNodes);
            //
            // graph.updateNodeData(updatedNodes);
            graph.render();
        }

        class IginxExecutor {
            _noteId;

            constructor() {
                this._noteId = window.location.hash.split('/')[2];
            }

            async execute(statement) {
                const notebook = await this._getNotebook();
                const lastParagraph = notebook.paragraphs.at(-1);

                if (lastParagraph.text) {
                    alert('Please create a empty paragraph in last of notebook to execute interpreter');
                    throw new Error('Please create a empty paragraph in last of notebook to execute interpreter');
                }
                const paragraphId = lastParagraph.id;

                await this._updateParagraph(paragraphId, '%iginx ' + statement);
                const executeResult = await this._executeParagraph(paragraphId);

                await this._updateParagraph(paragraphId, '%iginx >data.property.clear');
                await this._executeParagraph(paragraphId);

                await this._updateParagraph(paragraphId, '');
                return executeResult;
            }

            async _getNotebook() {
                const apiUrl = 'api/notebook/'+this._noteId;
                const response = await fetch(apiUrl);
                this._checkResponse(response);
                return (await response.json()).body;
            }

            async _updateParagraph(paragraphId, statement) {
                const apiUrl = 'api/notebook/' + this._noteId + '/paragraph/' + paragraphId;
                const response = await fetch(apiUrl, {
                    method: 'PUT',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        text: statement,
                    })
                });
                this._checkResponse(response);
            }

            async _executeParagraph(paragraphId) {
                const apiUrl = 'api/notebook/run/' + this._noteId + '/' + paragraphId;
                const response = await fetch(apiUrl, {
                    method: 'POST',
                });
                this._checkResponse(response);
                return (await response.json()).body;
            }

            async _getParagraphResult(paragraphId) {
                const apiUrl = 'api/notebook/' + this._noteId + '/paragraph/' + paragraphId;
                const response = await fetch(apiUrl);
                this._checkResponse(response);
                return (await response.json()).body;
            }

            _checkResponse(response) {
                if (!response.ok) {
                    const msg = 'Status: ' + response.status + '. ' + response.statusText;
                    alert(msg);
                    throw new Error(msg);
                }
            }
        }
    }

    function createDataPropertyGraph() {
        const data = ${data};
        return new G6.Graph({
            container: document.getElementById('${paragraphId}_data_property_container'),
            data: data,
            autoResize: true,
            autoFit: 'view',
            zoomRange: [0.1, 10],
            behaviors: [
                'drag-canvas',
                'zoom-canvas',
                'drag-element',
                'collapse-expand',
            ],
            plugins: [
                {
                    type: 'history',
                    key: 'history',
                },
            ],
            node: {
                style: {
                    labelText: (d) => d.data.label,
                    labelPlacement: (d) => (!d.children || d.children.length === 0 ? 'right' : 'left'),
                    labelBackground: true,
                    ports: [{placement: 'right'}, {placement: 'left'}],
                },
                animation: {
                    enter: false,
                },
            },
            edge: {
                type: 'cubic-horizontal',
                animation: {
                    enter: false,
                },
            },
            layout: {
                type: 'compact-box',
                direction: 'LR',
                getHeight: function getHeight() {
                    return 32;
                },
                getWidth: function getWidth() {
                    return 32;
                },
                getVGap: function getVGap() {
                    return 10;
                },
                getHGap: function getHGap() {
                    return 100;
                },
            },
        });
    }
</script>